#contact{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.leftcontact{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftcontact img{
    width: 50%;
    filter: drop-shadow(2px 2px 10px rgb(87, 196, 220));
}

.rightcontact{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 80%;
    height: 70%;
    background-color: rgb(19, 25, 29);
    box-shadow: 2px 2px 10px black 2px 2px 20px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;

}

form:hover{
    box-shadow: 2px 2px 10px rgb(105, 205, 215), 2px 2px 20px rgb(105, 205, 215);
}

form input{
    width: 80%;
    height: 50px;
    border:  2px solid rgb(105, 205, 215);
    border-radius: 20px;
    padding: 20px;
    outline: none;

}

#textarea{
    width: 80%;
    height: 200px;
    border:  2px solid rgb(105, 205, 215);
    border-radius: 20px;
    padding: 20px;
    outline: none;
}

#btn{
    width: 100px;
    height: 50px;
    background-color: rgb(105, 205, 215);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 20px;
}

#btn:hover{
    background: transparent;
    color: rgb(105, 205, 215);
    cursor: pointer;
}

@media (max-width :750px){
    #contact{
        flex-direction: column;
    }
    .leftcontact{
        width: 100%;
        height: 50vh;
    }

    .leftcontact img{
        width: 70%;
    }
    .rightcontact{
        width: 100%;

    }
}